.card__description {
  flex: 1;
  margin: 0 0 10px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
  box-sizing: border-box;
}

@media screen and (min-width: 800px) {
  .card__description {
    padding: 0 10px;
    color: inherit;
  }
}

@media screen and (min-width: 1280px) {
  .card__description {
    margin: 0 0 15px;
    padding: 0 15px;
  }
}