.menu__link {
  margin: 0 0px 20px 0;  
  font-family: inherit;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  text-decoration: none;
  opacity: .7;
  transition: opacity .3s ease-in-out;
}

.menu__link:last-of-type {
  margin: 0;
}

@media screen and (min-width: 800px) {
  .menu__link {
    margin: 0 10px 0 0;
    font-size: 14px;
    color: inherit;
    opacity: .4;
    cursor: pointer;
  }

  .menu__link:not(.menu__link_active):hover {
    opacity: 1;
  }
}

@media screen and (min-width: 1280px) {
  .menu__link {
    margin: 0 15px 0 0;
    font-size: 16px;
  }
}