.menu__link {
  margin: 0 15px 0 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.16;
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.menu__link:not(.menu__link_active):hover {
  color: #333;
  /* opacity: .7; */
}

.menu__link_active {
  font-weight: 500;
  color: #e41300;
}