.menu-button_type_close-menu {
  transform: rotateZ(45deg);
  position: fixed;
  top: 40px;
  right: 25px;
}

.menu-button_type_close-menu::before {
  content: '';
  background-color: #fff;
  transform: rotateZ(-90deg);
  top: 0;
  left: 0;
}

.menu-button_type_close-menu::after {
  content: '';
  background-color: #fff;
  top: 0;
  left: 0;
}

@media screen and (min-width: 600px) {
  .menu-button_type_close-menu {
    top: 25px;
    right: 40px;
  }
}