.menu-button_type_open-menu {
  background: linear-gradient(to bottom, transparent 11px, #e41300 11px, #E41300 14px, transparent 14px);
  width: 27px;
  height: 25px;
  position: relative;
  transition: transform .3s ease-in-out;
  z-index: 4;
  box-sizing: border-box;
}

.menu-button_type_open-menu::before {
  content: '';
  width: 27px;
  height: 3px;
  background-color: #e41300;
  position: absolute;
  top: 0;
  left: 0;
  transition: .3s ease-in-out;
  transition-property: top, transform, background-color;
}

.menu-button_type_open-menu::after {
  content: '';
  width: 27px;
  height: 3px;
  background-color: #e41300;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: top .3s ease-in-out;
}